<style>
    
    #carouselExampleCaptions {
      width: 80%; 
      height: 200px; 
      margin: auto; 
    }


    #carouselExampleCaptions img {
      width: 100%;  
      height: 100%; 
      object-fit: cover; 
    }
  </style>