.homepage {
    z-index: 1; 
    padding-top: 100px; 
}
:root {
    --main-color: #f0634a;
    --second-color: #ffac38;
    --text-color: #444;
    --gradient: linear-gradient(#f0634a, #ffac38);
}
.packages {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cleaner way to define grid columns */
    grid-gap: 20px; /* Increase gap between package containers */
    justify-items: center; /* Center the package containers horizontally */
    padding: 20px; /* Add some padding around the grid */
}

.package_container {
    width: 300px;
    height: max-content;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 20px;
    border-radius: 5%;
    background-color: white; 
    box-shadow: 10px 10px var(--text-color);
   border-color: var(--gradient);
}

.package_container .package_image {
    width: 100%;
    height: auto;
}

.package_image img
{
    width: 270px;
    height: 200px;
    padding: 10px;
}

.info button {
    text-decoration: none;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    color:black;
    border:solid black;
    background-color: lightblue;
    padding:8px;
}
.info-place
{
    color: var(--text-color);
    font-weight: 800;
    padding: 10px;
    font-size: larger;
}
.info button:hover {
    background-color: blueviolet;
    width: 150px;
    border-radius: 10px;
}
.info p{
    margin-top: 8px;
}
