.page{
    font-family: 'Arial', sans-serif;
    background-color: #f2f4f5; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.imgcontain{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
}



.container {
    
    background-color: #ffffff;
    border-radius: 17px; /* Slightly larger border radius */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
    width: 95%; /* Increased width for a more spacious feel */
    padding: 45px; /* Added padding for inner spacing */
    height: 86%;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50; /* Darker color for better readability */
}

.container label {
    display: block;
    margin-bottom: 8px;
    color: #34495e; /* A travel-friendly color */
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    width: 100%;
    padding: 12px; /* Increased padding for comfort */
    margin-bottom: 10px;
    border: 1px solid #7f8c8d; /* Softer border color */
    border-radius: 4px;
}

.container button {
    width: 100%;
    padding: 12px; /* Increased padding */
    background-color: #27ae60; /* Green for a fresh feel */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold; /* Bolder font for the button */
}

.container button:hover {
    background-color: #219150; /* Darker green on hover */
}

.container .login-link {
    text-align: center;
    margin-top: 15px;
}

.container .login-link a {
    color: #2980b9; /* A travel-themed blue */
    text-decoration: none;
    font-weight: bold; /* Bold link for emphasis */
}

.container .login-link a:hover {
    text-decoration: underline; /* Underline on hover for better interactivity */
}